*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#fff;
  color:#333;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 80px;
}

.logo{
  font-size:24px;
  font-weight:700;
}
.logo span{color:#19ed09;}

nav a{
  margin:0 15px;
  text-decoration:none;
  color:#333;
}


.btn{
  padding:10px 20px;
  border-radius:25px;
  border:none;
  cursor:pointer;
  background-color: #111;
  color: #f4eded;
}

.btn.dark{
  background:#111;
  color:#f0e9e9;
  
}

.btn.light{
  
  border:1px solid #121111;
}

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:80px;
}

.hero-text h1{
  font-size:52px;
}

.hero-text h1 span{
  color:#ff6b3d;
}

.hero-img{
  position:relative;
}

.hero-img img{
  width:280px;
  border-radius:50%;
}

.badge{
  position:absolute;
  background:#e0d7d7;
  color: red;
  padding:10px 15px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,.1);
  text-align:center;
}

.badge.left{left:-40px;bottom:40px;}
.badge.right{right:-40px;top:40px;}

.about{
  padding:80px;
  text-align:center;
}

.stats{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:40px;
}

.card{
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(232, 5, 5, 0.05);
}


.projects{
  padding:80px;
  
}

.project{
  display:flex;
  align-items:center;
  gap:40px;
  margin:60px 0;
  color: #de070e;
}

.project.reverse{
  flex-direction:row-reverse;
}

.project img{
  width:400px;
  height: px;
  border-radius:20px;
}


.skills{
  padding:80px;
}

.skill{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}

.bar{
  background:#eee;
  height:8px;
  border-radius:10px;
}

.bar div{
  background:#ff6b3d;
  height:100%;
  border-radius:10px;
}


.contact{
  padding:80px;
  text-align:center;
}

form{
  max-width:500px;
  margin:auto;
}

form input,textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:10px;
  border:1px solid #ccc;
}
